[Unit]
Description=GitLab Login Guardian
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/env python3 /usr/local/bin/ban_gitlab_logins.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
